<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Habilidades</title>
</head>
<body>
    <h1>Agregar nueva habilidad</h1>
    <!--Con @ indicamos las rutas-->
    <form th:action="@{/skills/add}" th:object="${skill}" method="post">
        <label th:for="nombre">Nombre</label>
        <!--Con *{} accedemos a los campos del objeto Skill-->
        <input type="text" th:field="*{nombre}">
        <label th:for="nivel">Nivel</label>
        <!--como se está trabajando con post se convierte el button en tipo submint-->
        <input type="text" th:field="*{nivel}">
        <button type="submit">Guardar</button>
    </form>
</body>
</html>