<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Habilidades</title>
</head>
<body>
    <h1>Nuestras Habilidades</h1>
    <p th:if="${skills.isEmpty()}" >No se tienen datos</p>
    <ul th:if="${!skills.isEmpty()}" >
      <li th:each="habilidad, stat : ${skills}">
          <span th:text="'Habilidad: ' + ${habilidad.nombre} + ' Nivel: ' + ${habilidad.nivel}"></span>
          <a href="@{'/skills/id/'+ {stat.index}}">Ver Detalle</a>
      </li>
    </ul>
    <form action="/skills" method="get">
        <label th:for="nombre">Buscar</label>
        <!--name es el nombre del input-->
        <input type="text" th:value="${filter}" name="filter">
        <button type="submit">Buscar</button>
    </form>
</body>
</html>